<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TEST</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="../static/default.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
        </style>
    </head>
    <body>
		<h2>스팸 여부 확인하기</h2>
		<div class="form-group">
			<form method="post" id="query_form" name="query_form">
				<label>글 id</label>
				<input type="text" class="form-control" id="pk-input" name="pk" value="1">
				
				<label>글 내용</label>
				<input type="text" class="form-control" id="text-input" name="text" value="<p>ㅎㄷㄷ 사스가</p>">

				<label>api key</label>
				<input type="text" class="form-control" id="apikey-input" name="apikey" value="sldkfjlkwlkejf94lsdf92lk14">
				<br>
				<button type="submit" class="btn btn-primary" id="recog-submit">Submit</button>
			</form>
		</div>

		<h2>스팸 글 등록</h2>
		<div class="form-group">
			<form method="post" id="query_form" name="query_form">
				<label>글 id</label>
				<input type="text" class="form-control" id="pk-enroll" name="pk" value="1">
				
				<label>글 내용</label>
				<input type="text" class="form-control" id="text-enroll" name="text" value="<p>ㅎㄷㄷ 사스가</p>">

				<label>label</label>
				<input type="text" class="form-control" id="label-enroll" name="label" value="true">

				<label>api key</label>
				<input type="text" class="form-control" id="apikey-enroll" name="apikey" value="kwelk36l4kj2nkwj3lkj6ksd6q05">				
				
				<br>
				<button type="submit" class="btn btn-primary" id="enroll-submit">Submit</button>
			</form>
		</div>

	</body>
</html>
