<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TEST</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="../static/default.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
        </style>
    </head>
    <body>
		<h2>테스트용 글 올리기</h2>
		<div class="form-group">
			<form action="/query" method="post" id="query_form" name="query_form">
				<label>pk</label>
				<input type="text" class="form-control" id="pk-input" name="pk" value="1">
				<label>author</label>
				<input type="text" class="form-control" id="author-input" name="author" value="1234">
				<label>title</label>
				<input type="text" class="form-control" id="title-input" name="title" value="여기가 수용소냐?">
				<label>forumid</label>
				<input type="text" class="form-control" id="forumid-input" name="forumid" value="연예인밭">
				<label>text</label>
				<input type="text" class="form-control" id="text-input" name="text" value="<p>ㅎㄷㄷ 사스가</p>">
				<label>url</label>
				<input type="text" class="form-control" id="url-input" name="url" value="http://local.ilwor.com/idol/5">
				<br>
				<button type="submit" class="btn btn-primary" id="submit">Submit</button>
			</form>
		</div>
	</body>
</html>
