<!DOCTYPE html>
<html>
	<head>
		<title>Spamaze</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/example.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--
        <script src="/static/js/googlemap.js"></script>-->
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="/static/js/home.js"></script>
        <script src="/static/js/request.js"></script>
	</head>
	<body>
    <div class="landing-page">
      <nav id="full-navbar" class="navbar navbar-default navbar-transparent navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img id="navbar-spamaze-logo" src="/static/img/logo.png" />
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  홈
                </a>
              </li>
              <li>
                <a href="#request-modal" data-toggle="modal">

                
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                  문의하기
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="section section-header">
        <div class="parallax pattern-image">
          <img id="main-background" src="/static/img/background.jpg" />
          <div class="container">
            <div class="content">
              <h1><img id="spamaze-logo" src="/static/img/logo.png" /></h1>
              <p class="lead">경험하세요, 스팸 없는 당신의 서비스</p>
            </div>
          </div>
        </div>
      </div>

      <div class="clear"></div>

      <div class="product-contents">
        <div class="part-content">
          <!-- 어떤 문제를 해결하는가 -->
          <div id="product-description" class="row">
            <h1>스팸 필터링 서비스</h1>  
            <img class="concept-image" src="/static/img/brain_image.jpg" />
            <p class="lead subtitle">아무리 지워도 계속 나타나는 스팸, 이제는 간편하게 처리하세요.</br>Spamaze가 당신을 위한 맞춤형 스팸 필터링 알고리즘을 제공합니다.</p>
          </div>
        </div>
      </div>

        
      <div class="prouct-contents row-reverse">
          <!-- 서비스 장점 -->
        <div class="part-content">
          <div id="advantage" class="row row-reverse">
            <h1>서비스 소개</h1>
            <p class="lead subtitle">합리적인 가격에 맞춤형 스팸 필터링 알고리즘을 사용할 수 있습니다.</p>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              <h3>Open API 제공</h3>
              <p>Spamaze는 복잡한 설정을 요구하지 않습니다. API 키만 있다면 바로 스팸 필터링 서비스를 이용할 수 있습니다. 스팸 필터링 알고리즘의 원리를 몰라도 전혀 문제 없습니다.</p>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
              <h3>사이트 특화 알고리즘</h3>
              <p>당신의 사이트에서만 쓰이는 비속어를 발견하지 못할까봐 걱정인가요? Spamaze는 보편적인 비속어는 물론, 당신의 사이트에서만 통용되는 비속어도 발견할 수 있습니다.</p>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              <h3>경제성</h3>
              <p>Spamaze는 무료로 사용 가능하며, API 호출 횟수가 늘어날 수록 추가로 비용을 청구합니다. 비수기에는 API 호출 횟수가 줄어드므로 운영 비용을 절약할 수 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
        

      <div class="product-contents">
        <div class="part-content">
          <!-- 어디에 쓰일까요 -->
          <div id="product-usage" class="row">
            <h1>어디에 쓰이는가?</h1>
            <p class="lead subtitle">Spamaze는 이렇게 사용할 수 있습니다.</p>
            <div class="first-row">
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <h3>커뮤니티</h3>
                <p>무단으로 광고를 올리거나 타인을 비난하는 사람이 있나요? 이제 별도의 인력을 구인하지 않고 불량 사용자를 걸러낼 수 있습니다.</p>
              </div>
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <h3>쇼핑몰 상품 리뷰</h3>
                <p>당신의 상품을 깎아내리는 경쟁자가 있나요? 이제 경쟁자의 악성 리뷰를 걸러내세요. 여러분의 진짜 고객을 위해 필요합니다.</p>
              </div>
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                <h3>뉴스 & 미디어(코멘트)</h3>
                <p>타인을 정치적으로 비방하는 사용자는 미디어의 중립성을 훼손시키고 당신에게 손해를 입힐 수 있습니다. 이제 이들을 걸러내세요.</p>
              </div>
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                <h3>게임</h3>
                <p>게이머는 악성 채팅을 보기 위해 게임을 하지 않습니다. 좀 더 쾌적하고 즐거운 환경을 제공하기 위해 Spamaze를 사용하세요.</p>
              </div>
            </div>
            
            <div class="second-row">
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                <h3>채팅 서비스</h3>
                <p>텍스트 전송량이 많은 채팅 서비스는 수동으로 악성 유저를 걸러낼 수 없습니다. 하지만 Spamaze가 있다면 해결 가능합니다.</p>
              </div>
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <h3>블로그 & SNS</h3>
                <p>블로그에 악성 댓글이 많다면 방문자는 기분이 상하겠죠? 저희는 일반인도 쉽게 사용하는 스팸 필터링 알고리즘을 제공합니다.</p>
              </div>
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <h3>서비스 내 고객상담</h3>
                <p>블랙컨슈머에게 시간을 낭비할수록 서비스 운영에 막심한 손해를 입습니다. 이들의 특별관리를 위해 Spamaze를 사용하세요.</p>
              </div>
              <div class="col-md-3 reduce-padding">
                <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                <h3>거래 사기꾼 판별</h3>
                <p>중고거래 사기꾼을 판별하는 것을 쉽지 않습니다. Spamaze를 응용하면 중고거래사기를 사전에 판단하고 예방할 수 있습니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        


      <div class="product-contents row-reverse">
        <div class="part-content">
          <!-- 가격 -->
          <div id="price" class="row row-reverse">
            <h1>가격</h1>
            <p class="lead subtitle">처음에는 무료로 사용하되 API 호출 횟수가 늘어나는 만큼 비용을 지불하세요.</p>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
              <h3>Free</h3>
              <dl class="dl-horizontal">
                <dt>가격</dt>
                <dd>무료</dd>
                <dt>호출 횟수</dt>
                <dd>월 1,500 회</dd>
                <dt>데이터 누적</dt>
                <dd>10,000 개</dd>
                <dt>회당 게시글</dt>
                <dd>3개</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
              <h3>Express</h3>
              <dl class="dl-horizontal">
                <dt>가격</dt>
                <dd>회당 29.9 원</dd>
                <dt>호출 횟수</dt>
                <dd>월 10,000 회</dd>
                <dt>데이터 누적</dt>
                <dd>50,000 개</dd>
                <dt>회당 게시글</dt>
                <dd>6개</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
              <h3>Professional</h3>
              <dl class="dl-horizontal">
                <dt>가격</dt>
                <dd>회당 19.9 원</dd>
                <dt>호출 횟수</dt>
                <dd>월 35,000 회</dd>
                <dt>데이터 누적</dt>
                <dd>250,000 개</dd>
                <dt>회당 게시글</dt>
                <dd>10개</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
              <h3>Premium</h3>
              <dl class="dl-horizontal">
                <dt>가격</dt>
                <dd>회당 9.9 원</dd>
                <dt>호출 횟수</dt>
                <dd>월 85,000 회</dd>
                <dt>데이터 누적</dt>
                <dd>1,000,000 개</dd>
                <dt>회당 게시글</dt>
                <dd>15개</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>


      <div class="product-contents">
        <div class="part-content">
          <!-- 팀 소개 -->
          <div id="team-desc" class="row">
            <h1>팀 소개</h1>
            <p class="lead subtitle">팀원들이 보유한 데이터분석과 컴퓨터공학 지식을 바탕으로 이 서비스를 구현하였습니다.</p>
            <div class="col-md-4">
              <img src="/static/img/rjm.jpg" class="img-circle img-thumbnail profile" />
              <h3>유재명</h3>
              <ul class="list-unstyled">
                <li>서강대학교 컴퓨터공학과</li>
                <li>비정형 데이터 분석업체 <a href="http://arspraxia.com/">트리움(Treum)</a> 근무</li>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="/static/img/lmj_2.jpg" class="img-circle img-thumbnail profile" />
              <h3>이명준</h3>
              <ul class="list-unstyled">
                <li>고려대학교 컴퓨터공학과</li>
                <li>2012년 한국 정보 올림피아드 은상</li>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="/static/img/cdi.jpg" class="img-circle img-thumbnail profile" />
              <h3>최다인</h3>
              <ul class="list-unstyled">
                <li>중앙대학교 컴퓨터공학부</li>
                <li>중앙대학교 데이터마이닝 랩 근무</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="address">
        <div id="map"></div>
      </div>

      <hr>

      <!-- Footer -->
      <div id="footer" class="row">
        <div id="sponsors" class="col-md-8">
          <strong class="footer-content">Sponsors</strong>
          <img id="swm-logo" class="sponsor-logo" src="/static/img/swmaestro.jpg" />
          <img id="mirae-logo" class="sponsor-logo" src="/static/img/mirae.jpg" />
          <img id="nipa-logo" class="sponsor-logo" src="/static/img/nipa.jpg" />
          <img id="fkii-logo" class="sponsor-logo" src="/static/img/fkii.png" />
          <img id="iitp-logo" class="sponsor-logo" src="/static/img/iitp.jpg" />
        </div>
        <div id="copyright" class="col-md-3">
          <strong class="footer-content">Copyright</strong>
          <p>Copyright Team Spamaze <br> All Rights Reserved. </p>
        </div>
        <div id="contact" class="col-md-1">
          <strong class="footer-content">Contact</strong>
          <a href="mailto:spamaze@gmail.com">spamaze@gmail.com</a>
        </div>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal-label">문의하기</h4>
          </div>
          <div class="modal-body">
            <div class="request-form-group form-group">
              <label for="user-message">이메일</label>
              <input class="form-control" id="email-address" type="email" placeholder="example@spamaze.com"></input>
            </div>

            <div class="request-form-group form-group">
              <label for="user-message">메시지</label>
              <textarea class="form-control" rows="5" id="message"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            <button type="button" id="request-btn" class="btn btn-primary">보내기</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">감사합니다</h4>
          </div>
          <div class="modal-body">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <p>더욱 발전하는 Spamaze가 될 수 있도록 노력하겠습니다.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>


	</body>
</html>
