<!DOCTYPE html>
<html>
	<head>
		<title>Spamaze</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/example.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--
        <script src="/static/js/googlemap.js"></script>-->
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="/static/js/home.js"></script>
	</head>
	<body>
    <div class="landing-page">
      <nav id="full-navbar" class="navbar navbar-default navbar-transparent navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Spamaze</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  Home
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                  Request
                </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="section section-header">
        <div class="parallax pattern-image">
          <img src="/static/img/background.jpg" />
          <div class="container">
            <div class="content">
              <h1>Spamaze</h1>
              <p class="lead">경험하세요, 스팸 없는 당신의 서비스</p>
            </div>
          </div>
        </div>
      </div>

      <div class="clear"></div>

      <div class="product-contents">
        <div class="part-content">
          <!-- 어떤 문제를 해결하는가 -->
          <div id="product-description" class="row">
            <h1>스팸 필터링 서비스</h1>
            <!--
            <img class="concept-image" src="/static/img/brain_concept.jpg" />
            -->
            
            <img class="concept-image" src="/static/img/brain_concept2.jpg" />
            <!--
            <img class="concept-image" src="/static/img/brain_concept.jpg" />
            <img class="concept-image" src="/static/img/brain_concept.jpg" />
            -->
            <p class="lead subtitle">아무리 지워도 계속 나타나는 스팸, 이제는 간편하게 처리하세요.</br>Spamaze가 당신을 위한 맞춤형 스팸 필터링 알고리즘을 제공합니다.</p>
          </div>
        </div>
      </div>

        
      <div class="prouct-contents row-reverse">
          <!-- 서비스 장점 -->
        <div class="part-content">
          <div id="advantage" class="row row-reverse">
            <h1>서비스 소개</h1>
            <p class="lead subtitle">회원가입만 하면 합리적인 가격에 맞춤형 스팸 필터링 알고리즘을 사용할 수 있습니다.</p>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              <h3>Open API 제공</h3>
              <p>Spamaze는 복잡한 설정이나 알고리즘의 이해를 요구하지 않습니다. 회원가입을 하고 나면 그 즉시 Spamaze의 스팸 필터링 서비스를 이용할 수 있습니다. 스팸 필터링의 원리를 하나도 모른다 해도 전혀 문제될 것이 없습니다. 누구나 할 수 있는 간단한 과정이 남아있을 뿐입니다.</p>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
              <h3>높은 정확도</h3>
              <p>보편적이지 않은 특수한 케이스의 스팸은 차단되지 않을까봐 걱정이신가요? Spamaze는 기계 학습을 이용한 스팸 필터링 시스템으로 당신의 시스템에 특화된 필터링이 가능합니다. 물론, 일반적인 스팸 또한 훌륭하게 차단되는 것은 당연합니다. 당신의 서비스를 깨끗하게 유지하세요.</p>
            </div>
            <div class="col-md-4">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              <h3>경제성</h3>
              <p>작은 규모와 비용때문에 사용을 망설이실 필요가 없습니다. 규모와 사용량에 비례하는 금액을 청구하기 때문에, 쓰는 만큼만 내면 됩니다. 작은 규모의 서비스라면 그에 맞는 작은 비용의 필터링 서비스가 준비되어 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
        

      <div class="product-contents">
        <div class="part-content">
          <!-- 어디에 쓰일까요 -->
          <div id="product-usage" class="row">
            <h1>어디에 쓰이는가?</h1>
            <p class="lead subtitle">Spamaze는 이렇게 사용할 수 있습니다.</p>
            <div class="first-row row">
              <div class="col-md-3">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <h3>커뮤니티</h3>
                <p>대부분의 커뮤니티가 스팸으로 고통받고 있습니다. 각 커뮤니티에 특화된 필터링으로 깨끗한 커뮤니티 서비스를 제공할 수 있게 됩니다.</p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <h3>쇼핑몰 상품 리뷰</h3>
                <p>정당한 리뷰가 아닌 욕설과 비방을 섞은 악성 리뷰가 올라올 때가 있습니다. 이러한 악성 리뷰를 Spamaze를 이용해 사전에 차단하세요.</p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                <h3>뉴스 & 미디어(코멘트)</h3>
                <p>뉴스와 미디어의 악성 댓글은 새로운 사회적 문제로 대두될 정도로 심각합니다. 신고를 통해 삭제하는 방법에는 한계가 있습니다.</p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                <h3>게임 악성 채팅 블락</h3>
                <p>게임 내 악성 채팅 또한 최근 수많은 고소가 이루어지는 것만 보아도 그 심각성을 알 수 있습니다. 사람들은 깨끗한 채팅이 있는 게임을 원합니다.</p>
              </div>
            </div>
            
            <div class="second-row row">
              <div class="col-md-3">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                <h3>모바일 채팅 서비스</h3>
                <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <h3>블로그 / SNS</h3>
                <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <h3>서비스 내 고객상담</h3>
                <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
              </div>
              <div class="col-md-3">
                <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                <h3>거래 사기꾼 판별</h3>
                <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        


      <div class="product-contents row-reverse">
        <div class="part-content">
          <!-- 가격 -->
          <div id="price" class="row row-reverse">
            <h1>가격</h1>
            <p class="lead subtitle">우린 싸요</p>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
              <h3>Free</h3>
              <ul class="list-unstyled">
                <li>무료다 무료</li>
                <li>무료다 무료라고</li>
                <li>무료라고</li>
              </ul>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
              <h3>Tear 1</h3>
              <ul class="list-unstyled">
                <li>무료다 무료</li>
                <li>무료다 무료라고</li>
                <li>무료라고</li>
              </ul>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
              <h3>Tear 2</h3>
              <ul class="list-unstyled">
                <li>무료다 무료</li>
                <li>무료다 무료라고</li>
                <li>무료라고</li>
              </ul>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
              <h3>Tear 3</h3>
              <ul class="list-unstyled">
                <li>무료다 무료</li>
                <li>무료다 무료라고</li>
                <li>무료라고</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="product-contents">
        <div class="part-content">
          <!-- 팀 소개 -->
          <div id="team-desc" class="row">
            <h1>팀 소개</h1>
            <p class="lead subtitle">이런 사람들입니다</p>
            <div class="col-md-4">
              <img src="/static/img/rjm.jpg" class="img-circle img-thumbnail profile" />
              <h3>유재명</h3>
              <ul class="list-unstyled">
                <p>무료다 무료 유료다 유료 무료다 무료 유료다 유료무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다</p>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="/static/img/lmj_2.jpg" class="img-circle img-thumbnail profile" />
              <h3>이명준</h3>
              <ul class="list-unstyled">
                <p>무료다 무료 유료다 유료 무료다 무료 유료다 유료무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다</p>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="/static/img/cdi.jpg" class="img-circle img-thumbnail profile" />
              <h3>최다인</h3>
              <ul class="list-unstyled">
                <p>무료다 무료 유료다 유료 무료다 무료 유료다 유료무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다</p>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="address">
        <div id="map"></div>
      </div>

      <!-- Footer -->
      <div id="footer" class="row">
        <div id="sponsors" class="col-md-8">
          <strong class="footer-content">Sponsors</strong>
          <img id="swm-logo" class="sponsor-logo" src="/static/img/swmaestro.jpg" />
          <img id="mirae-logo" class="sponsor-logo" src="/static/img/mirae.jpg" />
          <img id="nipa-logo" class="sponsor-logo" src="/static/img/nipa.jpg" />
          <img id="fkii-logo" class="sponsor-logo" src="/static/img/fkii.png" />
          <img id="iitp-logo" class="sponsor-logo" src="/static/img/iitp.jpg" />
        </div>
        <div id="copyright" class="col-md-3">
          <strong class="footer-content">Copyright</strong>
          <p>Copyright Team Spamaze <br> All Rights Reserved. </p>
        </div>
        <div id="contact" class="col-md-1">
          <strong class="footer-content">Contact</strong>
          <a href="mailto:spamaze@gmail.com">spamaze@gmail.com</a>
        </div>
      </div>
    </div>
	</body>
</html>
