<!DOCTYPE html>
<html>
	<head>
		<title>Spamaze</title>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/example.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--
        <script src="/static/js/googlemap.js"></script>-->
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="/static/js/home.js"></script>
	</head>
	<body>
    <div id="landing-page">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Spamaze</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">Request</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="section section-header">
        <div class="parallax pattern-image">
          <img src="/static/img/background.jpg" />
          <div class="container">
            <div class="content">
              <h1>Spamaze</h1>
              <p class="lead">고통이 고통이라는 이유로 그 자체를 사랑하고 소유하려는 자는 없다.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="clear"></div>

      <hr>

      <div id="product-contents">
        <!-- 어떤 문제를 해결하는가 -->
        <div id="product-description" class="row">
          <h1>스팸 필터링 서비스</h1>
          <p class="lead subtitle">설명설명</p>
        </div>

        <hr>

        <!-- 서비스 장점 -->
        <div id="advantage" class="row">
          <h1>서비스 특징</h1>
          <p class="lead subtitle">서비스 특징 설명</p>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>쉬운 사용성</h3>
            <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕</p>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>높은 정확도</h3>
            <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕</p>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>경제성</h3>
            <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕</p>
          </div>
        </div>

        <hr>

        <!-- 어디에 쓰일까요 -->
        <div id="product-usage" class="row">
          <h1>어디에 쓰이는가?</h1>
          <p class="lead subtitle">어디에 쓰이는지 알고싶은가? 알고싶으면 소마센터로 오라</p>
          <div class="first-row row">
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>커뮤니티</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>쇼핑몰 상품 리뷰</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>뉴스 & 미디어(코멘트)</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>게임 악성 채팅 블락</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
          </div>
          
          <div class="second-row row">
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>모바일 채팅 서비스</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>블로그 / SNS</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>서비스 내 고객상담</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
            <div class="col-md-3">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <h3>거래 사기꾼 판</h3>
              <p>사용성 설명이다 이것이 사용성 설명이야 이거야 이거라니까 이게 진짜야 우왕 사용성 설명이다 이것이 사용성 설명이야 이거</p>
            </div>
          </div>
        </div>

        <hr>

        <!-- 가격 -->
        <div id="price" class="row">
          <h1>가격</h1>
          <p class="lead subtitle">우린 싸요</p>
          <div class="col-md-3">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>Free</h3>
            <ul class="list-unstyled">
              <li>무료다 무료</li>
              <li>무료다 무료라고</li>
              <li>무료라고</li>
            </ul>
          </div>
          <div class="col-md-3">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>Tear 1</h3>
            <ul class="list-unstyled">
              <li>무료다 무료</li>
              <li>무료다 무료라고</li>
              <li>무료라고</li>
            </ul>
          </div>
          <div class="col-md-3">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>Tear 2</h3>
            <ul class="list-unstyled">
              <li>무료다 무료</li>
              <li>무료다 무료라고</li>
              <li>무료라고</li>
            </ul>
          </div>
          <div class="col-md-3">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h3>Tear 3</h3>
            <ul class="list-unstyled">
              <li>무료다 무료</li>
              <li>무료다 무료라고</li>
              <li>무료라고</li>
            </ul>
          </div>
        </div>

        <hr>

        <!-- 팀 소개 -->
        <div id="team-desc" class="row">
          <h1>팀 소개</h1>
          <p class="lead subtitle">이런 사람들입니다</p>
          <div class="col-md-4">
            <img src="/static/img/rjm.jpg" class="img-circle profile" />
            <h3>유재명</h3>
            <ul class="list-unstyled">
              <p>무료다 무료 유료다 유료 무료다 무료 유료다 유료무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다</p>
            </ul>
          </div>
          <div class="col-md-4">
            <img src="/static/img/lmj_2.jpg" class="img-circle profile" />
            <h3>이명준</h3>
            <ul class="list-unstyled">
              <p>무료다 무료 유료다 유료 무료다 무료 유료다 유료무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다</p>
            </ul>
          </div>
          <div class="col-md-4">
            <img src="/static/img/cdi.jpg" class="img-circle profile" />
            <h3>최다인</h3>
            <ul class="list-unstyled">
              <p>무료다 무료 유료다 유료 무료다 무료 유료다 유료무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다 유료 무료다 무료 유료다</p>
            </ul>
          </div>
        </div>

        <hr>

        <!-- Contact -->
        <div id="contact" class="row">
          <h1>Contact</h1>
          <div id="map"></div>
        </div>

      </div>

    </div>
	</body>
</html>
