.navbar {
	margin-bottom: 0;
	z-index: 9999;
}

.navbar-default {
	height: 60px;
	padding-top: 5px;
	background-color: #012f3f;
}

.navbar-default a {
	color: white !important;
	font-size: 120%;
	font-weight: bold;
}

.navbar-default a span.glyphicon{
	margin-right: 3px;
	font-size: 80%;
}

.navbar-transparent {
	background-color: transparent;
	border-color: transparent;
}

.navbar-transparent a {
	color: #fff !important;
}

.section-header {
	padding:  0;
	/*position: absolute;*/
	top: 0;
	left: 0;
}

#navbar-spamaze-logo {
	max-width: 100px;
}

.parallax {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	background-size: 100%;
}

#main-background {
	width: 100%;
	min-width: 0;
	min-height: 0;
	height: 750px;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	border: 0;
}

.parallax > .container {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;

	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.parallax .content {
	text-align: center;
	line-height: 1.7;
	position: relative;
	margin-top: 300px;
}

.parallax .content h1 {
	line-height: 1;
	margin-top: 0;
	margin-bottom: 40px;
	color: #fff;
}

.parallax .content p {
	font-size: 3vw;
	color: #fff;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.4;
}


#spamaze-logo {
	max-width: 50vw;
}


.product-contents {
	width: 100%;
	margin: 0 auto;
}

.landing-page hr {
}

.landing-page #product-description {
	text-align: center;
	margin-top: 100px;
}

.landing-page #advantage {
	text-align: center;
}

.landing-page #product-usage {
	text-align: center;
}

.landing-page #price {
	text-align: center;
}

.landing-page #team-desc {
	text-align: center;
	margin-bottom: 100px;
}

.landing-page #address {
	text-align: center;
}

#advantage .glyphicon {
	font-size: 600%;
}

.concept-image {
	margin-top: 20px;
	margin-bottom: 20px;
}

.row {
	padding-top: 100px;
	padding-bottom: 100px;
}

.row h1 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.row p.subtitle {
	margin-bottom: 80px;
}


.row .glyphicon {
	font-size: 400%;
	margin: 20px 0;
}

.row h3 {
	margin: 20px 0;
}

.row .profile {
	width: 120px;
}

.part-content {
	width: 1004px;
	margin: 0 auto;	
}

.row-reverse {
	background-color: #012f3f;
	color: white;
}


#space {
	display: block;
	margin-bottom: 50px;
}

.second-row {
	margin-top: 30px;
}


.clear {
	clear: both;
}

#map {
	width: 100%;
	height: 600px;
}

#footer {
	width: 1004px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 300px;
}

.footer-content {
	display: block;
	margin-bottom: 10px;
}

#swm-logo {
	width: 100px;
	height: 50px;
}

#mirae-logo {
	width: 100px;
}

#nipa-logo {
	width: 110px;
}

#fkii-logo {
	width: 130px;
}

#iitp-logo {
	width: 130px;
}

.sponsor-logo {
	margin-right: 10px;
}

#pin-content {
	text-align: left;
	width: 450px;
}

#pin-logo {
	max-width: 100px;
	float: left;
	margin-top: 15px;
}

#pin-info {
	font-size: 120%;
}

#pin-body {
	float: right;
}

.request-form-group {
	width: 100%;
}


#success-modal .modal-body {
	text-align: center;
}

#success-modal .modal-body span.glyphicon {
	font-size: 300%;
	margin: 30px 0;
}